<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE polkitpolicy PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>CtxOS</vendor>
  <vendor_url>https://repo.ctxos.org</vendor_url>

  <action id="org.ctxos.softwarecenter.install">
    <description>Install software</description>
    <message>Authentication is required to install system software.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.ctxos.softwarecenter.remove">
    <description>Remove software</description>
    <message>Authentication is required to remove system software.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.ctxos.softwarecenter.update">
    <description>Update system</description>
    <message>Authentication is required to update system software.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

</policyconfig>
