[Desktop Entry]
Name=msfstop
Comment=msfstop
Encoding=UTF-8
Exec=menuexec msfstop --help
Icon=ctxos_msfstop
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=msfstop
