[Desktop Entry]
Name=powershell-empire-server
Comment=powershell-empire-server
Encoding=UTF-8
Exec=menuexec powershell-empire-server --help
Icon=ctxos_powershell-empire-server
StartupNotify=false
Terminal=true
Type=Application
Categories=08-post-exploit;
X-Ctxos-Package=powershell-empire-server
