[Desktop Entry]
Name=cansend
Comment=cansend
Encoding=UTF-8
Exec=menuexec cansend --help
Icon=ctxos_cansend
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=cansend
