[Desktop Entry]
Name=rfcat
Comment=rfcat
Encoding=UTF-8
Exec=menuexec rfcat --help
Icon=ctxos_rfcat
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=rfcat
