[Desktop Entry]
Name=isotpserver
Comment=isotpserver
Encoding=UTF-8
Exec=menuexec isotpserver --help
Icon=ctxos_isotpserver
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=isotpserver
