[Desktop Entry]
Name=canlogserver
Comment=canlogserver
Encoding=UTF-8
Exec=menuexec canlogserver --help
Icon=ctxos_canlogserver
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=canlogserver
