[Desktop Entry]
Name=recstudio-cli
Comment=recstudio-cli
Encoding=UTF-8
Exec=menuexec recstudio-cli --help
Icon=ctxos_recstudio-cli
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=recstudio-cli
