[Desktop Entry]
Name=chntpw
Comment=chntpw
Encoding=UTF-8
Exec=menuexec chntpw --help
Icon=ctxos_chntpw
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=chntpw
