[Desktop Entry]
Name=caring-caribou
Comment=caring-caribou
Encoding=UTF-8
Exec=menuexec caring-caribou --help
Icon=ctxos_caring-caribou
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=caring-caribou
