[Desktop Entry]
Name=vinetto
Comment=vinetto
Encoding=UTF-8
Exec=menuexec vinetto --help
Icon=ctxos_vinetto
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=vinetto
