[Desktop Entry]
Name=cisco-ocs
Comment=cisco-ocs
Encoding=UTF-8
Exec=menuexec cisco-ocs --help
Icon=ctxos_cisco-ocs
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=cisco-ocs
