[Desktop Entry]
Name=airmon
Comment=airmon
Encoding=UTF-8
Exec=menuexec airmon --help
Icon=ctxos_airmon
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=airmon
