[Desktop Entry]
Name=gnuradio-plot_fft
Comment=gnuradio-plot_fft
Encoding=UTF-8
Exec=menuexec gnuradio-plot_fft --help
Icon=ctxos_gnuradio-plot_fft
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=gnuradio-plot_fft
