[Desktop Entry]
Name=irpass-ass
Comment=irpass-ass
Encoding=UTF-8
Exec=menuexec irpass-ass --help
Icon=ctxos_irpass-ass
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=irpass-ass
