[Desktop Entry]
Name=foremost
Comment=foremost
Encoding=UTF-8
Exec=menuexec foremost --help
Icon=ctxos_foremost
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;11-forensics;
X-Ctxos-Package=foremost
