[Desktop Entry]
Name=dc3dd
Comment=dc3dd
Encoding=UTF-8
Exec=menuexec dc3dd --help
Icon=ctxos_dc3dd
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=dc3dd
