[Desktop Entry]
Name=srch_strings
Comment=srch_strings
Encoding=UTF-8
Exec=menuexec srch_strings --help
Icon=ctxos_srch_strings
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=srch_strings
