[Desktop Entry]
Name=rsmurf6
Comment=rsmurf6
Encoding=UTF-8
Exec=menuexec rsmurf6 --help
Icon=ctxos_rsmurf6
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=rsmurf6
