[Desktop Entry]
Name=darkstat
Comment=darkstat
Encoding=UTF-8
Exec=menuexec darkstat --help
Icon=ctxos_darkstat
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=darkstat
