[Desktop Entry]
Name=stunnel
Comment=stunnel
Encoding=UTF-8
Exec=menuexec stunnel --help
Icon=ctxos_stunnel
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=stunnel
