[Desktop Entry]
Name=wig-ng
Comment=wig-ng
Encoding=UTF-8
Exec=menuexec wig-ng --help
Icon=ctxos_wig-ng
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=wig-ng
