[Desktop Entry]
Name=evilgrade
Comment=evilgrade
Encoding=UTF-8
Exec=menuexec evilgrade --help
Icon=ctxos_evilgrade
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=evilgrade
