[Desktop Entry]
Name=fuzz_ip6
Comment=fuzz_ip6
Encoding=UTF-8
Exec=menuexec fuzz_ip6 --help
Icon=ctxos_fuzz_ip6
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;02-vulnerability-analysis;
X-Ctxos-Package=fuzz_ip6
