[Desktop Entry]
Name=msfconsole
Comment=msfconsole
Encoding=UTF-8
Exec=menuexec msfconsole --help
Icon=ctxos_msfconsole
StartupNotify=false
Terminal=true
Type=Application
Categories=04-01-metasploit-framework;04-exploitation-tools;
X-Ctxos-Package=msfconsole
