[Desktop Entry]
Name=skipfish
Comment=skipfish
Encoding=UTF-8
Exec=menuexec skipfish --help
Icon=ctxos_skipfish
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=skipfish
