[Desktop Entry]
Name=slcan-attach
Comment=slcan-attach
Encoding=UTF-8
Exec=menuexec slcan-attach --help
Icon=ctxos_slcan-attach
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils;13-automotive;
X-Ctxos-Package=slcan-attach
