[Desktop Entry]
Name=john
Comment=john
Encoding=UTF-8
Exec=menuexec john --help
Icon=ctxos_john
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;05-password-attacks;
X-Ctxos-Package=john
