[Desktop Entry]
Name=trace6
Comment=trace6
Encoding=UTF-8
Exec=menuexec trace6 --help
Icon=ctxos_trace6
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=trace6
