[Desktop Entry]
Name=airgeddon
Comment=airgeddon
Encoding=UTF-8
Exec=menuexec airgeddon --help
Icon=ctxos_airgeddon
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=airgeddon
