[Desktop Entry]
Name=jadx
Comment=jadx
Encoding=UTF-8
Exec=menuexec jadx --help
Icon=ctxos_jadx
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=jadx
