[Desktop Entry]
Name=airbase
Comment=airbase
Encoding=UTF-8
Exec=menuexec airbase --help
Icon=ctxos_airbase
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=airbase
