[Desktop Entry]
Name=fake_mld6
Comment=fake_mld6
Encoding=UTF-8
Exec=menuexec fake_mld6 --help
Icon=ctxos_fake_mld6
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=fake_mld6
