[Desktop Entry]
Name=wce
Comment=wce
Encoding=UTF-8
Exec=menuexec wce --help
Icon=ctxos_wce
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=wce
