[Desktop Entry]
Name=readpe
Comment=readpe
Encoding=UTF-8
Exec=menuexec readpe --help
Icon=ctxos_readpe
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=readpe
