[Desktop Entry]
Name=airolib
Comment=airolib
Encoding=UTF-8
Exec=menuexec airolib --help
Icon=ctxos_airolib
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=airolib
