[Desktop Entry]
Name=ncat
Comment=ncat
Encoding=UTF-8
Exec=menuexec ncat --help
Icon=ctxos_ncat
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=ncat
