[Desktop Entry]
Name=proxytunnel
Comment=proxytunnel
Encoding=UTF-8
Exec=menuexec proxytunnel --help
Icon=ctxos_proxytunnel
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=proxytunnel
