[Desktop Entry]
Name=mdb-parsecsv
Comment=mdb-parsecsv
Encoding=UTF-8
Exec=menuexec mdb-parsecsv --help
Icon=ctxos_mdb-parsecsv
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=mdb-parsecsv
