[Desktop Entry]
Name=ragg2
Comment=ragg2
Encoding=UTF-8
Exec=menuexec ragg2 --help
Icon=ctxos_ragg2
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=ragg2
