[Desktop Entry]
Name=shred
Comment=shred
Encoding=UTF-8
Exec=menuexec shred --help
Icon=ctxos_shred
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=shred
