[Desktop Entry]
Name=samdump2
Comment=samdump2
Encoding=UTF-8
Exec=menuexec samdump2 --help
Icon=ctxos_samdump2
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=samdump2
