[Desktop Entry]
Name=dmitry
Comment=dmitry
Encoding=UTF-8
Exec=menuexec dmitry --help
Icon=ctxos_dmitry
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=dmitry
