[Desktop Entry]
Name=procdump
Comment=procdump
Encoding=UTF-8
Exec=menuexec procdump --help
Icon=ctxos_procdump
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=procdump
