[Desktop Entry]
Name=airdecap
Comment=airdecap
Encoding=UTF-8
Exec=menuexec airdecap --help
Icon=ctxos_airdecap
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=airdecap
