[Desktop Entry]
Name=undbx
Comment=undbx
Encoding=UTF-8
Exec=menuexec undbx --help
Icon=ctxos_undbx
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=undbx
