[Desktop Entry]
Name=padbuster
Comment=padbuster
Encoding=UTF-8
Exec=menuexec padbuster --help
Icon=ctxos_padbuster
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=padbuster
