[Desktop Entry]
Name=flood_router26
Comment=flood_router26
Encoding=UTF-8
Exec=menuexec flood_router26 --help
Icon=ctxos_flood_router26
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=flood_router26
