[Desktop Entry]
Name=miredo
Comment=miredo
Encoding=UTF-8
Exec=menuexec miredo --help
Icon=ctxos_miredo
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=miredo
