[Desktop Entry]
Name=spiderfoot
Comment=spiderfoot
Encoding=UTF-8
Exec=menuexec spiderfoot --help
Icon=ctxos_spiderfoot
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=spiderfoot
