[Desktop Entry]
Name=rafind2
Comment=rafind2
Encoding=UTF-8
Exec=menuexec rafind2 --help
Icon=ctxos_rafind2
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=rafind2
