[Desktop Entry]
Name=ftguess
Comment=ftguess
Encoding=UTF-8
Exec=menuexec ftguess --help
Icon=ctxos_ftguess
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=ftguess
