[Desktop Entry]
Name=img_stat
Comment=img_stat
Encoding=UTF-8
Exec=menuexec img_stat --help
Icon=ctxos_img_stat
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=img_stat
