[Desktop Entry]
Name=bluelog
Comment=bluelog
Encoding=UTF-8
Exec=menuexec bluelog --help
Icon=ctxos_bluelog
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=bluelog
