[Desktop Entry]
Name=plecost
Comment=plecost
Encoding=UTF-8
Exec=menuexec plecost --help
Icon=ctxos_plecost
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=plecost
