[Desktop Entry]
Name=slcanpty
Comment=slcanpty
Encoding=UTF-8
Exec=menuexec slcanpty --help
Icon=ctxos_slcanpty
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils;13-automotive;
X-Ctxos-Package=slcanpty
