[Desktop Entry]
Name=tsk_gettimes
Comment=tsk_gettimes
Encoding=UTF-8
Exec=menuexec tsk_gettimes --help
Icon=ctxos_tsk_gettimes
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=tsk_gettimes
