[Desktop Entry]
Name=merlin-prism
Comment=merlin-prism
Encoding=UTF-8
Exec=menuexec merlin-prism --help
Icon=ctxos_merlin-prism
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=merlin-prism
