[Desktop Entry]
Name=oletimes
Comment=oletimes
Encoding=UTF-8
Exec=menuexec oletimes --help
Icon=ctxos_oletimes
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=oletimes
