[Desktop Entry]
Name=svwar
Comment=svwar
Encoding=UTF-8
Exec=menuexec svwar --help
Icon=ctxos_svwar
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=svwar
