[Desktop Entry]
Name=mifare-classic-format
Comment=mifare-classic-format
Encoding=UTF-8
Exec=menuexec mifare-classic-format --help
Icon=ctxos_mifare-classic-format
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=mifare-classic-format
