[Desktop Entry]
Name=msf-start
Comment=msf-start
Encoding=UTF-8
Exec=menuexec msf-start --help
Icon=ctxos_msf-start
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=msf-start
