[Desktop Entry]
Name=cymothoa
Comment=cymothoa
Encoding=UTF-8
Exec=menuexec cymothoa --help
Icon=ctxos_cymothoa
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=cymothoa
