[Desktop Entry]
Name=galleta
Comment=galleta
Encoding=UTF-8
Exec=menuexec galleta --help
Icon=ctxos_galleta
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=galleta
