[Desktop Entry]
Name=cansniffer
Comment=cansniffer
Encoding=UTF-8
Exec=menuexec cansniffer --help
Icon=ctxos_cansniffer
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Ctxos-Package=cansniffer
