[Desktop Entry]
Name=twinkle-console
Comment=twinkle-console
Encoding=UTF-8
Exec=menuexec twinkle-console --help
Icon=ctxos_twinkle-console
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=twinkle-console
