[Desktop Entry]
Name=nmapsi4-root
Comment=nmapsi4-root
Encoding=UTF-8
Exec=menuexec nmapsi4-root --help
Icon=ctxos_nmapsi4-root
StartupNotify=false
Terminal=true
Type=Application
Categories=01-04-network-scanners;01-info-gathering;
X-Ctxos-Package=nmapsi4-root
