[Desktop Entry]
Name=macof
Comment=macof
Encoding=UTF-8
Exec=menuexec macof --help
Icon=ctxos_macof
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=macof
