[Desktop Entry]
Name=macchanger
Comment=macchanger
Encoding=UTF-8
Exec=menuexec macchanger --help
Icon=ctxos_macchanger
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=macchanger
