[Desktop Entry]
Name=ewfacquirestream
Comment=ewfacquirestream
Encoding=UTF-8
Exec=menuexec ewfacquirestream --help
Icon=ctxos_ewfacquirestream
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=ewfacquirestream
