[Desktop Entry]
Name=wig
Comment=wig
Encoding=UTF-8
Exec=menuexec wig --help
Icon=ctxos_wig
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=wig
