[Desktop Entry]
Name=flood_advertise6
Comment=flood_advertise6
Encoding=UTF-8
Exec=menuexec flood_advertise6 --help
Icon=ctxos_flood_advertise6
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=flood_advertise6
