[Desktop Entry]
Name=gqrx
Comment=gqrx
Encoding=UTF-8
Exec=menuexec gqrx --help
Icon=ctxos_gqrx
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=gqrx
