[Desktop Entry]
Name=ntlmrecon
Comment=ntlmrecon
Encoding=UTF-8
Exec=menuexec ntlmrecon --help
Icon=ctxos_ntlmrecon
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=ntlmrecon
