[Desktop Entry]
Name=jls
Comment=jls
Encoding=UTF-8
Exec=menuexec jls --help
Icon=ctxos_jls
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=jls
