[Desktop Entry]
Name=rizin-asm
Comment=rizin-asm
Encoding=UTF-8
Exec=menuexec rizin-asm --help
Icon=ctxos_rizin-asm
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;07-reverseengineer;
X-Ctxos-Package=rizin-asm
