[Desktop Entry]
Name=rizin-hash
Comment=rizin-hash
Encoding=UTF-8
Exec=menuexec rizin-hash --help
Icon=ctxos_rizin-hash
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;07-reverseengineer;
X-Ctxos-Package=rizin-hash
