[Desktop Entry]
Name=btscanner
Comment=btscanner
Encoding=UTF-8
Exec=menuexec btscanner --help
Icon=ctxos_btscanner
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Ctxos-Package=btscanner
