[Desktop Entry]
Name=udsim
Comment=udsim
Encoding=UTF-8
Exec=menuexec udsim --help
Icon=ctxos_udsim
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=udsim
