[Desktop Entry]
Name=cutycapt
Comment=cutycapt
Encoding=UTF-8
Exec=menuexec cutycapt --help
Icon=ctxos_cutycapt
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=cutycapt
