[Desktop Entry]
Name=osrframework
Comment=osrframework
Encoding=UTF-8
Exec=menuexec osrframework --help
Icon=ctxos_osrframework
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=osrframework
