[Desktop Entry]
Name=fsstat
Comment=fsstat
Encoding=UTF-8
Exec=menuexec fsstat --help
Icon=ctxos_fsstat
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintain;
X-Ctxos-Package=fsstat
