[Desktop Entry]
Name=sqlitebrowser
Comment=sqlitebrowser
Encoding=UTF-8
Exec=sqlitebrowser
Icon=sqlitebrowser
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;01-10-smb-analysis;
X-Ctxos-Package=sqlitebrowser
