[Desktop Entry]
Name=nessus stop
Comment=nessus stop
Encoding=UTF-8
Exec=menuexec sudo service nessus stop
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=nessus
