[Desktop Entry]
Name=mariadb stop
Comment=mariadb stop
Encoding=UTF-8
Exec=menuexec sudo service mariadb stop
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=mariadb
