[Desktop Entry]
Name=postgresql restart
Comment=postgresql restart
Encoding=UTF-8
Exec=menuexec sudo service postgresql restart
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=postgresql
