[Desktop Entry]
Name=sshd start
Comment=sshd start
Encoding=UTF-8
Exec=menuexec sudo service sshd start
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=sshd
