[Desktop Entry]
Name=mariadb restart
Comment=mariadb restart
Encoding=UTF-8
Exec=menuexec sudo service mariadb restart
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=mariadb
