[Desktop Entry]
Name=faraday start
Comment=faraday start
Encoding=UTF-8
Exec=menuexec sudo service faraday start
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=faraday
