[Desktop Entry]
Name=dradis stop
Comment=dradis stop
Encoding=UTF-8
Exec=menuexec sudo service dradis stop
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=dradis
