[Desktop Entry]
Name=mariadb start
Comment=mariadb start
Encoding=UTF-8
Exec=menuexec sudo service mariadb start
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=mariadb
