[Desktop Entry]
Name=nginx start
Comment=nginx start
Encoding=UTF-8
Exec=menuexec sudo service nginx start
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=nginx
