[Desktop Entry]
Name=nginx restart
Comment=nginx restart
Encoding=UTF-8
Exec=menuexec sudo service nginx restart
Icon=utilities-terminal
StartupNotify=false
Terminal=true
Type=Application
Categories=services;
X-Ctxos-Package=nginx
