#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	# No build step for python
	true

override_dh_auto_install:
	dh_install
	chmod +x debian/software-center/usr/bin/software-center-gtk
	chmod +x debian/software-center/usr/bin/software-center-webview
	chmod +x debian/software-center/usr/lib/software-center/backend/daemon.py
