Source: debian-base-desktop
Section: misc
Priority: optional
Maintainer: CtxOS Team <team@ctxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0

Package: debian-base-desktop
Architecture: all
Depends: xorg, sddm, plasma-desktop, konsole, dolphin, plasma-nm, plasma-pa, network-manager-gnome, adwaita-icon-theme, libadwaita-1-0, python3-gi, python3-pydbus, qt5-style-kvantum
Description: CtxOS Desktop Environment
 This meta-package installs the CtxOS Plasma-based desktop environment 
 and required libraries for the CtxOS Software Center.
