Source: ctxos-tools
Section: utils
Priority: optional
Maintainer: CtxOS Team <team@ctxos.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/ctxos/debian-dev-kit

Package: ctxos-tools
Architecture: all
Depends: ${misc:Depends}, htop, vim, nano, fastfetch, tree, jq
Description: Essential tools for CtxOS
 A collection of essential system tools for CtxOS, including monitoring
 and text editing utilities.
