[Unit]
Description=CtxOS Software Center Backend
After=network.target dbus.service

[Service]
Type=dbus
BusName=org.ctxos.SoftwareCenter
ExecStart=/usr/bin/python3 /usr/lib/software-center/backend/daemon.py --service
Restart=always
User=root

[Install]
WantedBy=multi-user.target
