name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install ShellCheck
        run: sudo apt-get install -y shellcheck
      - name: Run ShellCheck
        run: |
          find . -name "*.sh" -exec shellcheck -e SC1091 {} +

  build-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Meta-packages
        run: |
          chmod +x packaging/build-debs.sh
          ./packaging/build-debs.sh
